* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

#main {}

#header {
    height: 46.5px;
    background-color: #000;
}

#header .search-btn {
    float: right;
    padding: 0 24px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    font-size: 16px;
    color: #fff;
    line-height: 46px;
}

#nav{
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    font-size: 15px;
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav>li:hover>a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
}

#nav .subnav a {
    color: #333;
    padding: 0 16px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#slider {}

#content {}

#footer {}